* {
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: bold;
}

.py {
  padding: 3rem 0;
}

nav {
  box-shadow: none !important;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.nav-wrapper a{
  color: black !important;
}

/* Rotating cube ----------------------- */

.cube-container {
  width: 100%;
  height: 100vh;
}

.scene {
	width: 200px;
	height: 200px;
	perspective: 600px;
	margin: 200px auto;
}

.cube {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
	transform: translateZ(-100px);
	animation: rotate 15s ease infinite;
}

.cube p {
	color: white;
	font-family: sans-serif;
	font-size: 2rem;
}

@keyframes rotate {
	0% {
		transform: rotate3d(0);
	}
	20% {
		transform: rotate3d(1,0,0, 180deg);
	}
	30% {
		transform: rotate3d(0,1,0, 180deg);
	}
	50% {
		transform: rotate3d(0,1,0, -90deg);
	}
	60% {
		transform: rotate3d(0,1,0, 90deg);
	}
	70% {
		transform: rotate3d(1,0,0, 270deg);
	}
	80% {
		transform: rotate3d(1,0,0, 90deg);
	}
	90% {
		transform: rotateX(720deg);
	}
	100% {
		transform: rotate3d(0);
	}

}

.cube__face {
	position: absolute;
	width: 200px;
	height: 200px;
	opacity: .95;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cube__face--front {
	background: #cd004d;
	transform: rotateY(0deg) translateZ(100px);
}
.cube__face--back {
	background: #0cb14b;
	transform: rotateY(180deg) translateZ(100px);
}
.cube__face--right {
	background: #008ad2;
	transform: rotateY(90deg) translateZ(100px);
}
.cube__face--left {
	background: #f37020;
	transform: rotateY(-90deg) translateZ(100px);
}
.cube__face--top {
	background: #6460ac;
	transform: rotateX(90deg) translateZ(100px);
}
.cube__face--bottom {
	background: #fcb712;
	transform: rotateX(-90deg) translateZ(100px);
}


/* /Rotating cube ----------------------- */

.card-image {
  min-height: 110px;
}

.card {
  height: 460px;
}

.card-content {
  height: 250px;
}

#claudio-img {
  filter: grayscale(1);
  max-height: 570px;
}

#color-cables {
  margin: auto;
  max-width: 400px;
  display: block;
}

.portfolio-heading {
  margin-bottom: 3rem;
}


/* Blobs ----------------------------------- */

.blob-container {
  position: relative;
  padding-top: 3rem;
}

.blob-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.blob {
  height: 150px;
  width: 150px;
  position: absolute;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.blob-1,
.blob-4 {
  top: 15%;
  left: 23%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation-delay: .5s;
  animation: transform 50s ease-in-out infinite both alternate;
}
.blob-2,
.blob-5 {
  top: 38%;
  left: 50%;
  border-radius: 30% 70% 15% 85% / 48% 54% 46% 52%;
  animation-delay: .8s;
  animation: transform 40s ease-in-out infinite both alternate;
}
.blob-3,
.blob-6 {
  top: 40%;
  left: 3%;
  border-radius: 73% 27% 46% 54% / 66% 54% 46% 34%;
  animation: transform 30s ease-in-out infinite both alternate;
}

.blob-1 {
  background-color: #cd004d;
  /* background: linear-gradient(#ce4621, #e44e25); */
}
.blob-2 {
  background-color: #008ad2;
  /* background: linear-gradient(#0d5d98, #1073bb); */
}
.blob-3 {
  background-color: #0cb14b;
  /* background: linear-gradient(#548955, #67a969); */
}
.blob-4 {
  background-color: #f37020;
  /* background: linear-gradient(#4a366d, #5b4386); */
}
.blob-5 {
  background-color: #6460ac;
  /* background: linear-gradient(#304f97, #3558a8); */
}
.blob-6 {
  background-color: #fcb712;
  /* background: linear-gradient(#4dba87, #435466); */
}

@keyframes transform
{
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}

/* /Blobs ----------------------------------- */

/* Parallax ----------------------------------------------- */

.p-header {
  z-index: 1;
  color: white;
  margin: auto;
}

.parallax img {
  filter: contrast(30%);
}

.parallax-container {
  margin-top: 5rem;
  height: 600px;
}

/* /Parallax ----------------------------------------------- */

/* About-me */

/* /About-me */


/* Footer */

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 0.5rem;
}

#footer-home-link h5 {
  display: inline-block;
  border-radius: 5px;
  padding: 1rem;
  border: 3px solid;
}

/* /Footer */


@media (min-width: 720px) {
  .blob-1,
  .blob-4 {
    left: 30%
  }
  .blob-2,
  .blob-5 {
    top: 45%;
    left: 50%;
  }
  .blob-3,
  .blob-6 {
    top: 45%;
    left: 15%;
  }
}

@media (min-width:1200px) {
  .blob {
    height: 200px;
    width: 200px;
  }
  .blob h6 {
    font-size: 1.5rem;
  }
  .p-large {
    font-size: 1.25rem;
  }
  .scene {
    width: 400px;
    height: 400px;
    perspective: 600px;
  }
  .cube__face {
    width: 400px;
    height: 400px;
  }
  .cube {
    transform: translateZ(-200px);
  }
  .cube p {
    font-size: 2.5rem;
  }
}

@media (min-width:1800px) {
  .blob {
    height: 250px;
    width: 250px;
  }
  .blob h6 {
    font-size: 2rem;
  }
  .blob-1,
  .blob-4 {
    top: 5%;
    left: 30%
  }
  .blob-2,
  .blob-5 {
    top: 45%;
    left: 50%;
  }
  .blob-3,
  .blob-6 {
    top: 45%;
    left: 15%;
  }
  .blob-row {
    margin-top: 3rem;
  }
}
